<template>
  <div class="home">
  
    <button><router-link class="home-login_link" :to="{ path: '/panel' }">
           Panel esa peña!
          </router-link></button>

  </div>
</template>

<script>




export default {
  name: 'Home',
  
}
</script>
