<template>
  <div class="panel-container">
    
    <div class="score-board">
      <Scoreboard :points="points" :hintPoints="hintPoints" />
    </div>

    <div class="song-cards" v-for="(song, index) in trackList" :key="index">
      <song-card
        :trackList="trackList"
        :index="index"
        :hintPoints="hintPoints"
        @hintUnlocked="resetHintPoints"
        @playAudio="playAudio(index)"
        @songGuessed="addPoints"
      />
    </div>
  </div>
</template>

<script>
import Scoreboard from '../components/ScoreBoard'
import SongCard from '../components/SongCard'
export default {
  components: {
    SongCard,
    Scoreboard,
  },

  data() {
    return {
      points: 0,
      hintPoints: 5,
      status: 'Too much Reggaeton has destroyed your brain ',
      trackList: [
        {
          song: '',
          correctSong: 'Bohemian Rhapsody',
          alternateCorrect: 'Bohemian Rhapsody',
          artist: '',
          correctArtist: 'Queen',
          alternateArtist: 'Queen',
          track: require('../assets/songs/bohemian.wav'),
          hintUnlocked: false,
          hint: '...',
        },

        {
          song: '',
          correctSong: 'Girls never know',
          artist: '',
          correctArtist: 'Gruppo Sportivo',
          alternateArtist: 'Gruppo Sportivo',
          track: require('../assets/songs/girl.wav'),
          hintUnlocked: false,
          hint: "The Roadrunner can be heard in one of this group's songs",
        },

        {
          song: '',
          correctSong: 'Smooth Criminal',
          alternateCorrect: 'Smooth Criminal',
          artist: '',
          correctArtist: 'Michael Jackson',
          alternateArtist: 'Michael Jackson',
          track: require('../assets/songs/criminal.wav'),
          hintUnlocked: false,
          hint: '...',
        },

        {
          song: '',
          correctSong: 'Apple Blossom',
          artist: '',
          correctArtist: 'The White Stripes',
          alternateArtist: 'White Stripes',
          track: require('../assets/songs/apple.wav'),
          hintUnlocked: false,
          hint: 'Release Year: 2000',
        },

        {
          song: '',
          correctSong: 'Knock me Down',
          artist: '',
          correctArtist: 'Red Hot Chili Peppers',
          alternateArtist: 'RHCP',
          track: require('../assets/songs/knock.wav'),
          hintUnlocked: false,
          hint:
            'One of the group components plays the most famous nihilist in cinema history',
        },

        {
          song: '',
          correctSong: "Bring a little lovin'",
          artist: '',
          correctArtist: 'Los Bravos',
          alternateArtist: 'Los Bravos',
          track: require('../assets/songs/bravos.wav'),
          hintUnlocked: false,
          hint: 'Can be heard in a Quentin Tarantino movie',
        },

        {
          song: '',
          correctSong: 'Für Elise',
          alternateCorrect: 'For Elise',
          artist: '',
          correctArtist: 'Beethoven',
          alternateArtist: 'Ludwig van Beethoven',
          track: require('../assets/songs/elise.wav'),
          hintUnlocked: false,
          hint: 'A dog in a film is called after this musician',
        },

        {
          song: '',
          correctSong: "Boys don't cry",
          alternateCorrect: "Boys don't cry",
          artist: '',
          correctArtist: 'The Cure',
          alternateArtist: 'The Cure',
          track: require('../assets/songs/cure.wav'),
          hintUnlocked: false,
          hint: '...',
        },

        {
          song: '',
          correctSong: "I'm a Man",
          artist: '',
          correctArtist: 'The Yardbirds',
          alternateArtist: 'Yardbirds',
          track: require('../assets/songs/yarbman.wav'),
          hintUnlocked: false,
          hint: '...',
        },

        {
          song: '',
          correctSong: 'Your woman',
          artist: '',
          correctArtist: 'White Town',
          alternateArtist: 'White Town',
          track: require('../assets/songs/woman.wav'),
          hintUnlocked: false,
          hint: '...',
        },
        {
          song: '',
          correctSong: 'Chain of Fools',
          alternateCorrect: 'Chain of Fools',
          artist: '',
          correctArtist: 'Aretha Franklin',
          alternateArtist: 'Aretha Franklin',
          track: require('../assets/songs/aretha.wav'),
          hintUnlocked: false,
          hint: '...',
        },

        {
          song: '',
          correctSong: 'All that She wants',
          alternateCorrect: 'All that she wants',
          artist: '',
          correctArtist: 'Ace of base',
          alternateArtist: 'Ace of base',
          track: require('../assets/songs/aceofbase.wav'),
          hintUnlocked: false,
          hint: '...',
        },

        {
          song: '',
          correctSong: 'Molina',
          artist: '',
          correctArtist: 'Creedence Clearwater Revival',
          alternateArtist: 'CCR',
          track: require('../assets/songs/molina.wav'),
          hintUnlocked: false,
          hint: '...',
        },

        {
          song: '',
          correctSong: 'Sandstorm',
          alternateCorrect: 'Sandstorm',
          artist: '',
          correctArtist: 'Darude',
          alternateArtist: 'Darude',
          track: require('../assets/songs/darude.wav'),
          hintUnlocked: false,
          hint: '...',
        },

        {
          song: '',
          correctSong: 'Respectable',
          alternateCorrect: 'Respectable',
          artist: '',
          correctArtist: 'Mel & Kim',
          alternateArtist: 'Mel and Kim',
          track: require('../assets/songs/melkim.wav'),
          hintUnlocked: false,
          hint: '...',
        },

        {
          song: '',
          correctSong: 'Baggy Trousers',
          alternateCorrect: 'Baggy Trousers',
          artist: '',
          correctArtist: 'Madness',
          alternateArtist: 'Madness',
          track: require('../assets/songs/trousers.wav'),
          hintUnlocked: false,
          hint: '...',
        },

        {
          song: '',
          correctSong: 'Upside Down',
          alternateCorrect: 'Upside Down',
          artist: '',
          correctArtist: 'Diana Ross',
          alternateArtist: 'Diana Ross',
          track: require('../assets/songs/upside.wav'),
          hintUnlocked: false,
          hint: '...',
        },

        {
          song: '',
          correctSong: 'Grace',
          alternateCorrect: 'Grace',
          artist: '',
          correctArtist: 'Jeff Buckley',
          alternateArtist: 'Jeff Buckley',
          track: require('../assets/songs/buckley.wav'),
          hintUnlocked: false,
          hint: '...',
        },
      ],
    }
  },
  methods: {
    playAudio(index) {
      const audio = new Audio(this.trackList[index].track)
      audio.play()
    },
    addPoints() {
      const percentage = (1 / (this.trackList.length * 2)) * 100
      this.points = parseFloat(this.points + percentage)
      this.hintPoints--
    },
    resetHintPoints() {
     
      this.hintPoints += 5
    },
  },
}
</script>

<style>
.panel-container{
  background-image:url('https://thumbs.dreamstime.com/b/music-note-wallpaper-2-27028544.jpg')
}

.score-board {
position:sticky;
top: 0;
margin:0 auto ;

}

.song-cards {
  display: inline-block;
  margin: 2.5% 2.5%;
}
</style>