<template>
  <div>
   <div v-show="!loggedIn">
     <button  @click="loggedIn=true">Login</button>
     <p>Please log in</p>
   </div>
    <div v-show="loggedIn">
      <button  @click="loggedIn=false">Logout</button> 
      <p>Don't forget to log out before leaving</p>
    </div>  <!-- output -->
    
  
  </div>
</template>

<script>

export default {
 data(){
   return{
     loggedIn:false,
   }
 },
  
}
</script>

<style>
</style>