<template>
  <div class="scoreBoard-container">
    <div class="scoreBoard-percentage">
      You have achieved:
      <div class="scoreBoard-percentage-number">{{ percentage }} %</div>
    </div>
    <div class="scoreBoard-status">{{ updateStatus }}</div>
    <div class="scoreBoard-hint">
      <h3 v-show="this.hintPoints <= 0">
        You can unlock a Hint now! Want an advice? Use it before you guess more
        blanks.
      </h3>
      <h3 v-show="this.hintPoints> 0">
        To unlock a hint you must guess
        <div class="scoreBoard-hint-number">{{ this.hintPoints }}</div>
        more songs or artists.
      </h3>
    </div>
  </div>
</template>

<script>
export default {
  props: ['points', 'hintPoints'],
  data() {
    return {
      counter: this.points,
    }
  },
  computed: {
    percentage() {
      if (this.points == 0) {
        return 0
      }
      return this.points.toPrecision(3)
    },

    updateStatus() {
      //creamos la variable status aquí porque es mala práctica cambiar algo de data en una computed. Tampoco funciona si la convertimos en method.
      let status
      if (this.points < 14.9) {
        status = 'Too much Reggaeton has destroyed your brain 🙉 '
      }
      if (this.points >= 15) {
        status =
          "Congratulations on your first correct answers.  Don't forget to unblock the hints"
      }

      if (this.points >= 20) {
        status =
          "Hey! Look who's heard that Elvis Presley album from mom and dad!"
      }

      if (this.points >= 30) {
        status =
          "You're on the right track!  Maybe your parents or friends can lend you a hand. 🕵 🕵️‍♀️ "
      }

      if (this.points >= 50.1) {
        status =
          'Amazing! More than half is done. Now the difficult part starts. Good luck!'
      }
      if (this.points >= 75) {
        status = ''
      }
      if (this.points >= 90) {
        status = ''
      }

      if (this.points >= 100) {
        status = "You've complete the game. Congratulations 🥳 "
      }

      return status
    },
  },
}
</script>

<style>
.scoreBoard-container {
  height: 25.5vh;
  background-color: beige;
  justify-content: end;
}
.scoreBoard-percentage {
  font-size: 175%;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 5vh;
}

.scoreBoard-percentage-number {
  color: red;
  display: inline-block;
  font-size: 200%;
}

.scoreBoard-status {
  font-size: 150%;
  font-weight: bold;
}

.scoreBoard-hint {
  font-size: 100%;
  margin-bottom: 5vh;
}
.scoreBoard-hint-number {
  color: red;
  display: inline-block;
  font-size: 170%;
}
</style>