<template>
  <div class="card-container">
    <button @click="playAudio">Play Song</button> <br />
    <label for="song">Song </label>
    <input
      v-on:change="evaluateResult"
      v-model="song"
      class="song-input"
      :class="{
        '--correct-song':
          caseInsensitive(song, correctSong) || song === alternateCorrect,
      }"
      type="text"
    />
    <br />
    <label for="artist">Artist </label>
    <input
      v-on:change="evaluateArtist"
      v-model="artist"
      class="artist-input"
      :class="{
        '--correct-artist':
          caseInsensitive(artist, correctArtist) ||
          caseInsensitive(artist, alternateArtist),
      }"
      type="text"
    />
    <br />
    <button @click="unlockHint(index)">Unlock Hint</button>
    <br /><br />
    <div v-show="hintUnlocked">{{ hint }}</div>
  </div>
</template>

<script>
export default {
  props: ['trackList', 'index', 'hintPoints'],
  emits: ['update:description'],

  data() {
    return {
      song: this.trackList[this.index].song,
      correctSong: this.trackList[this.index].correctSong,
      alternateCorrect: this.trackList[this.index].alternateCorrect,
      artist: this.trackList[this.index].artist,
      correctArtist: this.trackList[this.index].correctArtist,
      alternateArtist: this.trackList[this.index].alternateArtist,
      hintUnlocked: false,
      hint: this.trackList[this.index].hint,
    }
  },

  methods: {
    playAudio() {
      this.$emit('playAudio')
    },

    unlockHint() {
      console.log(this.hintPoints)
      if (this.hintPoints <= 0) {
        this.hintUnlocked = true
        this.$emit('hintUnlocked')
      } else {
        alert(
          'Unlock Hint not available. Check how many blanks you must fill. '
        )
      }
    },
    caseInsensitive(inputData, correctData) {
      return inputData.toUpperCase() === correctData.toUpperCase()
    },
    evaluateResult() {
      if (this.caseInsensitive(this.song, this.correctSong)) {
        this.$emit('SongGuessed')
      }
    },
    evaluateArtist() {
      if (this.caseInsensitive(this.artist, this.correctArtist)) {
        this.$emit('SongGuessed')
      }
    },
  },
}
</script>

<style>
.card-container {
  /* margin:51%; */
  border: 0.5vh solid black;
  padding: 1vh 1vh;
  font-size: 115%;
  font-weight: bold;
  background-image: linear-gradient(white, rgb(169, 244, 247));
}

.song-input {
  background-color: rgba(240, 6, 6, 0.5);
  font-weight: bold;
  margin-top: 5.75%;
  margin-bottom: 2.75%;
}
.artist-input {
  background-color: rgba(240, 6, 6, 0.5);
  font-weight: bold;
  margin-bottom: 2.75%;
}
.--correct-song {
  background-color: forestgreen;
  color: white;
  pointer-events: none;
  cursor: none;
}

.--correct-artist {
  background-color: forestgreen;
  color: white;
  pointer-events: none;
  cursor: none;
}
</style>