<template>
  <div id="nav">
 <main-panel/>
  </div>
</template>

<script>
import MainPanel from './views/MainPanel'
export default {
  components:{
    MainPanel,
  }
}
</script>

<style lang="scss">
#app{
  margin:0 auto;
}
</style>
